.heading {
  margin-top: 60px;
  text-align: center;
  animation: slideDown 1s ease-out forwards;
}

@keyframes slideDown {
  from {
    transform: translateY(-100px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}