.active{
    color: goldenrod;
    font-size: 20px;
    text-decoration: none;
    font-weight: 600;
    padding: 20px;
    font-family: sans-serif;
}
.noactive{
    color: goldenrod;
    font-size: 16px;
    text-decoration: none;
    font-weight: 300;
    padding: 20px;
    font-family: sans-serif;
}
@media (max-width: 767px) {
    .navbar {
      display: none; 
    }
}
.drawer {
    width: 250px;
    padding: 10px;
    background-color: black;
    height: 700px;
  }
  
  .drawer a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: goldenrod;
  }
  
  .drawer a:hover {
    background-color: #f0f0f0;
  }
  