.input{
    margin: 10px 0px !important;
    width: 100% !important;
    background-color: rgb(70, 68, 68);
    color: goldenrod !important;
    border-radius: 25px;
}
fieldset{
    border-color: black !important;
    border-radius: 25px !important;
}
label{
    color: goldenrod !important;
}