.section {
  margin: 4rem 0rem 9rem 0rem;
  display: flex;
  justify-content: space-between;
  padding: 50px;
}

.content h1 {
  font-size: 3rem;
  line-height: 4rem;
  animation: slideDown 1s ease-out forwards;
}

@keyframes slideDown {
  from {
    transform: translateY(-100px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.content h4 {
  font-size: 2.5rem;
  line-height: 3rem;
}

.content p {
  font-size: 1.5rem;
  line-height: 2rem;
  animation: slideUp 1s ease-out forwards;
}

@keyframes slideUp {
  from {
    transform: translateY(100px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}
.herobuttons button {
  margin: 5px;
  padding: 12px;
  font-size: 1rem;
  border: none;
  border-radius: 30px;
  background-color: goldenrod;
  color: black;
  cursor: pointer;
}
.herobuttons button:hover{
  background-color: rgb(173, 136, 40);
  color: black;
}
.herobuttons button:active{
  background-color: rgb(173, 136, 40) !important;
  color: black !important;
}
.image {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  animation: slideUp 1s ease-out forwards;
}

.image img {
  box-shadow: 0px 0px 20px 15px rgba(179, 169, 62, 0.32);
  border: 5px solid goldenrod;
  border-radius: 200px;
  object-fit: cover;
  height: 400px;
  width: 375px;
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .section {
    display: block;
    padding: 25px;
  }

  .content h1 {
    font-size: 2.5rem;
    line-height: 3.5rem;
  }

  .content h4 {
    font-size: 2rem;
    line-height: 2.5rem;
  }

  .content p {
    font-size: 1.5rem;
    line-height: 2rem;
  }

  .image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-top: 2rem;
  }

  .image img {
    height: 370px;
  }
}

@media only screen and (max-width: 687px) {
  .section {
    display: block;
    padding: 25px;
  }

  .content h1 {
    font-size: 2rem;
    line-height: 3rem;
  }

  .content h4 {
    font-size: 1.5rem;
    line-height: 2rem;
  }

  .content p {
    font-size: 1rem;
    line-height: 1.5rem;
  }

  .image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-top: 2rem;
  }

  .image img {
    height: 260px;
    width: 242px;
  }
}