.container{
    padding: 0rem 2rem;
}
.skill {
    height: 10px;
    border-radius: 10px;
    background-color: rgb(70, 68, 68);
    margin: 0px 20px;
    position: relative;
}
.skill::after {
    content: ''; 
    position: absolute; 
    border-radius: 10px;
    height: 100%; 
    background-color: goldenrod; 
    width: 100%; 
    animation: slideleft 5s ease-out forwards; 
}
@keyframes slideleft {
    from {
        width: 0%;
    }
    to {
        width: 100%;
    }
}
.skillJava {
    height: 10px;
    border-radius: 10px;
    background-color: rgb(70, 68, 68);
    margin: 0px 20px;
    position: relative;
}
.skillJava::after {
    content: ''; 
    position: absolute; 
    border-radius: 10px;
    height: 100%; 
    background-color: goldenrod; 
    width: 100%; 
    animation: slideJava 5s ease-out forwards; 
}
@keyframes slideJava {
    from {
        width: 0%;
    }
    to {
        width: 90%;
    }
}
.skillexpress {
    height: 10px;
    border-radius: 10px;
    background-color: rgb(70, 68, 68);
    margin: 0px 20px;
    position: relative;
}
.skillexpress::after {
    content: ''; 
    position: absolute; 
    border-radius: 10px;
    height: 100%; 
    background-color: goldenrod; 
    width: 100%; 
    animation: slideexpress 5s ease-out forwards; 
}
@keyframes slideexpress {
    from {
        width: 0%;
    }
    to {
        width: 95%;
    }
}